@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Imbue:opsz,wght@10..100,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

.header {
  width: 100%;
  display: flex;

  .image-container {
    width: 100%; /* Занимает всю доступную ширину */
    height: 100vh; /* Занимает 100% высоты окна просмотра */
    background-image: url("img/IMG_5734\ \(2\).JPG"); /* Путь к вашему изображению */
    background-size: cover; /* Растягивает изображение, чтобы оно покрывало всю область контейнера */
    background-position: center; /* Центрирует изображение */
  }
  &_fonts {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    gap: 0px;
    flex-direction: column;
    width: 100%;
    height: 10%;
    // margin: -170px auto;

    h1 {
      font-size: 60px;
      text-align: center;

      font-size: 60px;
      color: #ffffff; /* Цвет текста (заливка) */
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black; /* Цвет контура (черный) */

      font-family: "Libre Baskerville", serif;
      font-weight: 300;
      font-style: normal;
      //   opacity: 0.9;
    }

    h2 {
      font-size: 35px;
      text-align: center;
      color: #ffffff;
      font-family: "Libre Baskerville", serif;
      font-weight: 300;
      font-style: normal;
      //   opacity: 0.9;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black; /* Цвет контура (черный) */
    }
  }
  .header_btn {
    border: 2px solid #fff;
    padding: 6px;
    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    font-style: normal;
    background-color: transparent; /* прозорий фон */
    color: white; /* білий колір тексту */
    padding: 5px;
  }
}
.container_btn {
  position: absolute;
  width: 100%;
  height: 64%;
  display: flex;
  justify-content: center;
  align-items: end;
  label {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;
    gap: 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    font-style: normal;
    input {
      width: 100%;
      border: 1px solid white; /* білий рамка */
      background-color: transparent; /* прозорий фон */
      color: white; /* білий колір тексту */
      padding: 5px;
    }
    .header_btn_number {
      border: 2px solid #fff;
      padding: 6px;
      font-family: "Libre Baskerville", serif;
      font-weight: 300;
      font-style: normal;
      background-color: transparent; /* прозорий фон */
      color: white; /* білий колір тексту */
      padding: 5px;
      width: 100%;
    }
  }
}
