<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="finish">
      <div class="finish_h">
        <h1>
          Трансфер о 11.30 з центральної <br />
          площі м. Ніжин <br />
          біля готелю "Ніжин"
        </h1>
        <h2>dress-code: Український стиль</h2>

        <h2>
          P.S Якщо ви думали купувати квіти, <br />
          замість них подаруйте алкоголь <br />
          для нашого сімейного мінібару
        </h2>
      </div>

      <div class="finish_btns">
        <button>На головну</button>
      </div>

    </div>
  </body>
</html>
